# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
order-hub.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log